<style>
@import url('https://fonts.googleapis.com/css2?family=Nova+Square&display=swap');
</style>

:root {
  --hue-background: #959595 ;
  --hue-headers: #DAF7A6 ;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  font-family: "Nova Square", cursive;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #959595;
}

h1 {
  font-size: 5.4rem;
  color: #DAF7A6;
  margin-bottom: 5rem;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 88rem;
  margin: 0 auto;
  padding: 2rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.text-center {
  text-align: center;
}

.hidden {
  display: none;
}

.btn {
  font-size: 2.4rem;
  padding: 2rem 0;
  width: 30rem;
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(28, 26, 26);
  background: linear-gradient(90deg, rgb(218, 247, 166) 0%, rgb(218, 247, 166) 100%);
  border-radius: 4px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0.4rem 1.4rem 0 rgba(144, 227, 45, 0.6);
  transition: transform 150ms;
  transform: scale(1.03);
}

.btn[disabled]:hover {
  cursor: not-allowed;
  box-shadow: none;
  transform: none;
}

#highscore-btn {
  background: linear-gradient(90deg, rgb(231, 185, 229) 0%, rgb(231, 185, 229) 100%);
}

#highscore-btn:hover {
  box-shadow: 0 0.4rem 1.4rem 0 rgba(198, 99, 195,0.5);
}

.fa-crown {
  font-size: 2.5rem;
  margin-left: 1rem;
}

/* End Page CSS */

.end-form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 30rem;
}

input {
  margin-bottom: 1rem;
  width: 20rem;
  padding: 1.5rem;
  font-size: 1.8rem;
  border: none;
  box-shadow: 0rem 0.5rem 1.4rem 0 rgba(198, 99, 195,0.5);
}

input::placeholder {
  color: rgb(28, 26, 26);
}

#username {
  margin-bottom: 3rem;
  width: 100%;
  outline: none;
}

#end-text {
  font-size: 2.4rem;
  color:seashell;
  text-align: center;
}

#saveScoreBtn {
  border: none;
}

.fa-home {
  margin-left: 1rem;
  font-size: 2rem;
  color:rgb(28, 26, 26);
}
/* *, *::before, *::after {
    box-sizing: border-box;
    font-family: Ariel, Helvetica, sans-serif;
}

:root {
    --hue-nuetral: #F8ECBB;
    --hue-wrong: #FF4C33;
    --hue-correct: #4DCB58;
    --hue-background: #F5F5F5;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

body.correct {
    --hue: var(--hue-correct);
}

body.wrong {
    --hue: var(--hue-wrong);
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: var(--hue-background);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}

.btn:hover {
    border-color: black;
}

.btn.correct {
    --hueP: var(--hue-correct);
    color: black;
}

.btn.wrong {
    --hueP: var(--hue-wrong);
}

.start-btn, .next-btn, .timer-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}

.large-font {
    font-size: 3.5em;
    text-align:center;
  }

  .timer {
    height: 40px;
    padding: 10px;
    background-color: hsl(var(--hue), 100%, 50%);
    color: #fff;
    text-align: center;
  }
  
  .timer-text {
    padding: 10px;
  }


.controls {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hide {
    display: none;
} */


/* * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    background: linear-gradient(0deg, rgba(19,41,61,1) 0%, rgba(237,245,249,1) 63%);
  }
  
  .reset-button {
    font-size: 16px;
    height: 30px;
    line-height: 8px;
    margin-top: 20px;
  }
  
  .win-loss-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
  }
  
  button {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,96,33,0.9542191876750701) 100%);
    border-radius: 8px;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
  }
  
  header {
    padding: 40px;
    text-align: center;
    background: #13293d;
    color: #fff;
    border-bottom:30px #879274;
  }
  
  main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  section {
    flex: 0 auto;
    padding: 8px;
    margin-top: 50px;
    background-color: white;
    border-radius: 8px;
  }
  
  .word-guess {
    width: 55vw;
    height: 400px;
  }
  
  .results {
    width: 30vw;
    height: 400px;
  }
  
  .card {
    background: radial-gradient(circle, rgba(240,230,140,1) 0%, rgba(187,124,33,0.604079131652661) 100%);
    border: 1px solid #eceff1;
    border-radius: 8px;
    box-shadow: rgba(60, 64, 67, 2) 0 1px 2px 0,
      rgba(60, 64, 67, 0.15) 0 2px 4px 3px;
    margin: auto;
    padding: 20px;
  }
  
  .word-blanks {
    line-height: 360px;
  }
  
  .large-font {
    font-size: 3.5em;
    text-align:center;
  }
  
  .timer {
    height: 240px;
    padding: 10px;
    background: #13293d;
    color: #fff;
    text-align: center;
  }
  
  .timer-text {
    padding: 55px;
  }
  
  @media screen and (max-width: 1183px) {
    main {
      flex-direction: column;
    }
  
    .word-guess,
    .results {
      width: 90vw;
    }
  
    section {
      background-color: white;
      margin: 20px auto;
      width: 92vw;
    }
  }
  
  @media screen and (max-width: 504px) {
    .large-font {
      font-size: 2em;
    }
  
    .reset-button {
      font-size: 12px;
      width: 20ox;
      
    }
  
    .timer {
      height: 200px;
    } */